/* Global Variables */
:root {
    --primary-grey: #F5F5F5;
    --primary-button-blue: #175f9c;
    --primary-button-dark-blue: #073b69;
}

/* Font Imports */
@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* General Body & HTML Styling */
html {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: var(--primary-grey);
}

body {
    margin: 0;
}

/* Dark Mode Styles */
html.darkMode {
    background-color: #121212;
    color: #f5f5f5;
    --primary-grey: #B0B0B0;
    --primary-button-blue: #0a3d71;
    --primary-button-dark-blue: #0c2c4e;
}

html.darkMode h1 {
    color: white;
}

html.darkMode .cruise-item {
    color: black;
}

html.darkMode #booking-table {
    color: black;
}

/* Font Size Customizations */
html.smallFont {
    font-size: 14px;
}

html.mediumFont {
    font-size: 16px;
}

html.largeFont {
    font-size: 18px;
    padding: 0px 20px;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: relative;
    top: 10px;
}

/* Header Links */
h1 a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

#nav-links {
    text-decoration: none;
    list-style-type: none;
}

/* Layout */
.row {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}

#filter-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 900px;
    min-width: 300px;
    border-right: 1px solid #dbdbdb;
    padding-right: 20px;
}

#data-display-column {
    display: flex;
    flex-direction: column;
    flex: 2;
}

/* Cruise Catalogue */
#cruiseCatalogue {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cruise-item {
    background-color: #FFF;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.cruise-item-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

/* Input Styling */
input[type="text"],
input[type="search"],
input[type="number"],
select {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
}

/* Button Styling */
button {
    background-color: var(--primary-button-blue);
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 19px;
    font-family: 'Poppins';
    margin-top: 20px;
    color: white;
    border: 0;
    font-weight: 400;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary-button-dark-blue);
    cursor: pointer;
}

button:active {
    background-color: #01111f;
}

/* Sidebar Styling */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: var(--primary-button-blue);
    color: white;
    padding-top: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    transform: translateX(-170px);
}

#sidebar.open {
    transform: translateX(0);
}

#content-wrapper {
    margin-left: 40px;
    transition: margin-left 0.3s ease;
}

#content-wrapper.sidebar-open {
    margin-left: 210px;
}

.toggle-row {
    display: flex;
    justify-content: flex-end;
    margin-right: 14px;
}

#toggle-btn {
    position: relative;
    left: 3px;
    width: 16px;
    height: 16px;
    align-items: flex-end;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

#toggle-btn.rotated {
    transform: rotate(180deg);
}

#toggle-btn:hover {
    cursor: pointer;
}

#sidebar-links {
    list-style-type: none;
    padding: 0;
    color: white;
}

#sidebar-links li {
    padding: 10px 15px;
    color: white;
}

#sidebar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

/* Modal Styling */
#modal {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    background-color: white;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1000;
}

#modal.visible {
    transform: translateX(-50%) translateY(-140%);
    opacity: 1;
}

/* Filters Section */
#filterByDestination,
#filterByDuration,
#filterByPrice,
#filterBySlider,
#filterByDate {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

#applyDiscount {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#discountRange {
    width: 240px;
    margin-top: 10px;
}

#discountValue {
    margin-top: 2px;
    margin-bottom: 0;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    #filter-column, #data-display-column {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        margin-left: 0;
    }
}

/* SLIDER LOGIC */

input[type="number"] {
    width: 70px;
    padding: 5px;
    font-size: 10px;
}

/* The main slider bar */
input[type="range"] {
    appearance: none;
    width: 150px;
    height: 6px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
}

/* the outer container for the slider an its elements */
.slider {
    position: relative; /* using position relative to tell child items to remain relative inside the div position, not outside of it*/
    width: 100%;
    max-width: 400px;
}

/* this ::before element creates a background track for the slider*/
/* note - the outer slider is relative so before element will be positioned within that*/
/* note - this is not the progress bar itself, it is just the background that the slider thumbs move along */
.slider::before {
    content: ""; /* required for ::before element to appear*/
    position: absolute; /* absolute is used to place it behind other elements*/
    width: 100%;
    height: 5px;
    background: #e0e0e0;
    border-radius: 5px;
    top: 0;
    left: 0;
    z-index: 0; /* with z index ensuring that happens */
}

.range-input {
    position: relative;
    width: 100%;
    height: 5px;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    background: none;
    pointer-events: none;
    z-index: 2;
}

input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    z-index: 3;
}

/* progress is the active portion of the slider between the min and max values*/
.progress {
    position: absolute; /* ensures its layered on top*/
    height: 5px;
    background: #007bff;
    border-radius: 5px;
    z-index: 1; /* On top because of z index */
    left: 0;
    right: 0;
}

.price-input {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.price-input input {
    width: 45%;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* slider endpoints markers both ends of the slider track*/

.slider-endpoints {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: -5px;
}
